@import "tailwindcss";
@import "tailwindcss-intersect";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";

@theme {
	--color-mare-50: oklch(93.739% 0.02582 278.73);
	--color-mare-100: oklch(89.109% 0.04578 277.29);
	--color-mare-200: oklch(79.936% 0.08583 276.94);
	--color-mare-300: oklch(71.044% 0.12811 275.23);
	--color-mare-400: oklch(62.054% 0.17159 272.93);
	--color-mare-500: oklch(53.788% 0.21484 270.06);
	--color-mare-600: oklch(44.864% 0.2427 266.27);
	--color-mare-700: oklch(37.225% 0.19718 266.65);
	--color-mare-800: oklch(29.368% 0.14759 267.24);
	--color-mare-900: oklch(20.846% 0.09413 268.87);
	--color-mare-950: oklch(16.421% 0.0636 269.55);
	--color-iris-50: oklch(93.276% 0.03573 307.2);
	--color-iris-100: oklch(88.663% 0.0616 305.19);
	--color-iris-200: oklch(79.79% 0.11098 304.5);
	--color-iris-300: oklch(71.19% 0.16162 303.09);
	--color-iris-400: oklch(62.9% 0.20906 301.42);
	--color-iris-500: oklch(55.827% 0.24676 298.27);
	--color-iris-600: oklch(48.164% 0.25606 293.56);
	--color-iris-700: oklch(39.706% 0.20829 294.17);
	--color-iris-800: oklch(30.976% 0.15769 294.78);
	--color-iris-900: oklch(21.682% 0.10295 297.31);
	--color-iris-950: oklch(16.595% 0.07146 299.78);
	--color-foam-50: oklch(87.818% 0.06344 209.89);
	--color-foam-100: oklch(85.677% 0.07423 208.84);
	--color-foam-200: oklch(81.419% 0.09372 210.32);
	--color-foam-300: oklch(77.399% 0.10894 211.2);
	--color-foam-400: oklch(73.697% 0.1189 212.7);
	--color-foam-500: oklch(65.708% 0.10714 212.78);
	--color-foam-600: oklch(53.161% 0.08537 212.11);
	--color-foam-700: oklch(39.545% 0.06178 212.56);
	--color-foam-800: oklch(24.913% 0.03591 210.48);
	--color-foam-900: oklch(0% 0 none);
	--color-foam-950: oklch(0% 0 none);
}

@plugin "daisyui/theme" {
	name: "grinta-dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: var(--color-zinc-950);
	--color-base-200: var(--color-zinc-900);
	--color-base-300: var(--color-zinc-800);
	--color-secondary: #ebbcba;
	--color-accent: #f6c177;
	--color-neutral: #191724;
	--color-info: #31748f;
	--color-success: #9ccfd8;
	--color-warning: #f6c177;
	--color-error: #eb6f92;
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 1.25rem;
	--radius-field: 1.25rem;
	--radius-box: 1.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "grinta-light";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: var(--color-zinc-50);
	--color-base-200: var(--color-zinc-100);
	--color-base-300: var(--color-zinc-200);
	--color-secondary: #d7827e;
	--color-accent: #907aa9;
	--color-neutral: #faf4ed;
	--color-info: #286983;
	--color-success: #56949f;
	--color-warning: #ea9d34;
	--color-error: #b4637a;
	--color-base-content: oklch(37% 0.029 256.847);
	--color-primary-content: oklch(98% 0.018 272.314);
	--color-secondary-content: oklch(98% 0.028 342.258);
	--color-accent-content: oklch(98% 0.063 188.416);
	--color-neutral-content: oklch(25% 0.004 286.32);
	--color-info-content: oklch(98% 0.066 243.157);
	--color-success-content: oklch(98% 0.077 168.94);
	--color-warning-content: oklch(98% 0.112 45.904);
	--color-error-content: oklch(98% 0.105 12.094);
	--radius-selector: 1.25rem;
	--radius-field: 1.25rem;
	--radius-box: 1.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

.base-nonsemantic-dark {
	--color-base-100: #0a0e17;
	--color-base-200: #2a2e37;
	--color-secondary: #ebbcba;
	--color-accent: #f6c177;
	--color-neutral: #191724;
	--color-info: #31748f;
	--color-success: #9ccfd8;
	--color-warning: #f6c177;
	--color-error: #eb6f92;
	--color-base-300: #22263d;
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error-content: oklch(27% 0.105 12.094);
}

.accent-mare-dark {
	--color-primary: #bacdfd;
}

.accent-mare-light {
	--color-primary: #425ae8;
}

.accent-iris-dark {
	--color-primary: #c4a7e7;
}

.accent-iris-light {
	--color-primary: #8b3bed;
}

.accent-foam-dark {
	--color-primary: #9ccfd8;
}

.accent-foam-light {
	--color-primary: #24a2b8;
}

.border-invisible {
	@apply border-none;
}

.border-invisible::before {
	@apply content-[""] absolute inset-0 pointer-events-none rounded-[1.25rem] p-[2px] bg-transparent;
}

.border-gradient {
	@apply border-none;
}

.border-gradient::before {
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
	@apply content-[""] absolute inset-0 pointer-events-none rounded-[1.25rem] p-[2px] bg-gradient-to-br from-blue-500 to-indigo-500;
}

body {
	font-family: "DM Sans Variable", sans-serif;
}

:root {
	--animation-btn: 0;
	--commands-padding: 80px;
	overscroll-behavior: none;
}

.widgets-visible {
	--commands-padding: 128px;
}

@layer utilities {

	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

:root {
	border-radius: 12px !important;
	background-color: transparent;
}