@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@plugin "daisyui/theme" {
	name: "grinta-dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: #0a0e17;
	--color-secondary: #ebbcba;
	--color-accent: #f6c177;
	--color-neutral: #191724;
	--color-info: #31748f;
	--color-success: #9ccfd8;
	--color-warning: #f6c177;
	--color-error: #eb6f92;
	--color-base-300: #22263d;
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 1.25rem;
	--radius-field: 1.25rem;
	--radius-box: 1.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "grinta-light";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: #dedede;
	--color-secondary: #d7827e;
	--color-accent: #907aa9;
	--color-neutral: #faf4ed;
	--color-info: #286983;
	--color-success: #56949f;
	--color-warning: #ea9d34;
	--color-error: #b4637a;
	--color-base-200: #fdfdfd;
	--color-base-300: #f5ede3;
	--color-base-content: oklch(37% 0.029 256.847);
	--color-primary-content: oklch(98% 0.018 272.314);
	--color-secondary-content: oklch(98% 0.028 342.258);
	--color-accent-content: oklch(98% 0.063 188.416);
	--color-neutral-content: oklch(25% 0.004 286.32);
	--color-info-content: oklch(98% 0.066 243.157);
	--color-success-content: oklch(98% 0.077 168.94);
	--color-warning-content: oklch(98% 0.112 45.904);
	--color-error-content: oklch(98% 0.105 12.094);
	--radius-selector: 1.25rem;
	--radius-field: 1.25rem;
	--radius-box: 1.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

.base-nonsemantic-dark {
	--color-base-100: #0a0e17;
	--color-secondary: #ebbcba;
	--color-accent: #f6c177;
	--color-neutral: #191724;
	--color-info: #31748f;
	--color-success: #9ccfd8;
	--color-warning: #f6c177;
	--color-error: #eb6f92;
	--color-base-300: #22263d;
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error-content: oklch(27% 0.105 12.094);
}

.accent-mare-dark {
	--color-primary: #bacdfd;
}

.accent-mare-light {
	--color-primary: #425ae8;
}

.accent-iris-dark {
	--color-primary: #c4a7e7;
}

.accent-iris-light {
	--color-primary: #8b3bed;
}

.accent-foam-dark {
	--color-primary: #9ccfd8;
}

.accent-foam-light {
	--color-primary: #24a2b8;
}

.border-invisible {
	@apply border-none;
}

.border-invisible::before {
	@apply content-[''] absolute inset-0 pointer-events-none rounded-[1.25rem] p-[2px] bg-transparent;
}

.border-gradient {
	@apply border-none;
}

.border-gradient::before {
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
	@apply content-[''] absolute inset-0 pointer-events-none rounded-[1.25rem] p-[2px] bg-gradient-to-br from-blue-500 to-indigo-500;
}

.virtual-list-wrapper {
	@apply !pt-[var(--commands-padding)] !pb-4;
}

body {
	font-family: "DM Sans Variable", sans-serif;
}

:root {
	--animation-btn: 0;
	--commands-padding: 80px;
	overscroll-behavior: none;
}

.widgets-visible {
	--commands-padding: 128px;
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
