@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	--sl-color-bg-sidebar: #0c0c0e;
	--sl-color-hairline-shade: #2d2d2d;
	--sl-color-bg-nav: #0c0c0e;
	@apply bg-base-100;
}

header.header {
	@apply bg-base-100/80 backdrop-blur-lg;
}

.hero {
	display: none;
}

[data-open-modal] {
	@apply !rounded-full !border-2 hover !border-primary;
}

.blueprint {
	background-color: #0b1130;
	background-image: linear-gradient(rgba(41, 56, 145, 0.5) 2px, transparent 2px),
		linear-gradient(90deg, rgba(41, 56, 145, 0.5) 2px, transparent 2px),
		linear-gradient(rgba(41, 56, 145, 0.28) 1px, transparent 1px),
		linear-gradient(90deg, rgba(41, 56, 145, 0.28) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.border-gradient::before {
	content: "";
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
	@apply content-[''] absolute inset-0 pointer-events-none rounded-[1.5rem] p-[2px] bg-gradient-to-b from-zinc-900 to-zinc-600;
}

.border-gradient-reverse::before {
	@apply from-zinc-600 to-zinc-900;
}

.border-gradient-special::before {
	content: "";
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
	@apply content-[''] absolute inset-0 pointer-events-none rounded-[1.5rem] p-[2px] bg-gradient-to-br from-blue-600 to-indigo-300;
}

.bg-lines {
	@apply bg-zinc-900;
	background-image: url("/lines.svg");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 220% -140%;
}

.grinta-pro {
	background-image: url("/pro.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}