<section
    class="flex flex-col items-center justify-center bg-neutral-900 rounded-[1.5rem] px-4 sm:px-8 py-8 sm:py-12 lg:py-16 !mt-40 relative border-gradient intersect:motion-preset-slide-up"
>
    <h2 class="!text-2xl sm:!text-3xl lg:!text-5xl text-center !mb-3 lg:!mb-4">
        Ready to boost your productivity?
    </h2>
    <p
        class="text-base sm:text-lg lg:text-xl text-center max-w-2xl !mb-6 lg:!mb-8"
    >
        Start using Grinta today and experience the perfect blend of speed,
        privacy, and AI-powered features. The basic version is <span
            class="text-secondary font-semibold">always free</span
        >.
    </p>
    <div
        class="flex flex-col sm:flex-row gap-3 sm:gap-4 items-center justify-center w-full max-w-md sm:max-w-none"
    >
        <button
            type="button"
            class="btn sm:btn-md lg:btn-lg !bg-neutral-800 border-2 !text-white rounded-full hover:border-primary shadow-2xl hover:shadow-primary/40 w-full sm:w-auto"
            disabled
        >
            <img
                src="/mac.svg"
                width={30}
                height={30}
                class="text-white hidden sm:inline"
                alt="Mac Icon"
            />
            <span>Download for Mac</span>
        </button>
        <a
            href="https://github.com/getgrinta/grinta/releases/latest"
            target="_blank"
            rel="noopener noreferrer"
            class="btn sm:btn-md lg:btn-lg btn-secondary bg-white !text-black rounded-full border-2 border-white hover:bg-primary hover:border-primary hover:!text-white shadow-2xl hover:shadow-primary/40 w-full sm:w-auto"
        >
            <span>GitHub Releases</span>
        </a>
    </div>
</section>
