<section id="downloadWave" class="container px-4 xl:px-0 max-w-[80rem] grid grid-cols-1 lg:grid-cols-2 mx-auto mt-32 rounded-[2rem] gap-16 scroll-mt-24">
    <img src="/wave_1.jpg" alt="Wave" class="rounded-[2rem]" />
    <div class="flex flex-col justify-center gap-8">
        <img src="/extension.png" alt="Wave Download" class="w-16 h-16" />
        <h2 class="font-[Cal_Sans] text-5xl">Download Wave</h2>
        <div class="flex flex-col gap-4">
            <a href="https://grnt.me/extension" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-xl">Download for Chrome</a>
            <button class="btn btn-xl" disabled>Download for iOS</button>
        </div>
    </div>
</section>