<section class="container px-4 xl:px-0 grid grid-cols-1 lg:grid-cols-3 gap-8 max-w-[80rem] mx-auto mt-32 rounded-[2rem]">
    <div class="relative bg-[url('/water.gif')] bg-bottom bg-cover flex flex-col gap-4 rounded-[2rem] p-8">
        <div
            class="hidden dark:flex absolute inset-0 w-full h-full bg-black opacity-50 rounded-[2rem]"
        ></div>
        <h2 class="font-[Cal_Sans] text-5xl z-10">Zero Telemetry / Privacy Preserving</h2>
        <p class="text-lg z-10">We respect your privacy and <b>collect zero user related data</b>. Zero analytics, zero trackers — your queries never leave your device.</p>
    </div>
    <div class="relative bg-[url('/water.gif')] bg-center bg-cover flex flex-col gap-4 rounded-[2rem] p-8">
        <div
            class="hidden dark:flex absolute inset-0 w-full h-full bg-black opacity-50 rounded-[2rem]"
        ></div>
        <h2 class="font-[Cal_Sans] text-5xl z-10">Intelligence Inside</h2>
        <p class="text-lg z-10">Grinta is packed with <b>Natural Language Processing</b> and <b>AI</b>. We want the app to <b>fully understand you</b> with natural language and give you the best results based on that.</p>
    </div>
    <div class="relative bg-[url('/water.gif')] bg-top bg-cover flex flex-col gap-4 rounded-[2rem] p-8">
        <div
            class="hidden dark:flex absolute inset-0 w-full h-full bg-black opacity-50 rounded-[2rem]"
        ></div>
        <h2 class="font-[Cal_Sans] text-5xl z-10">Sane Defaults by Design</h2>
        <p class="text-lg z-10">The whole apps ecosystem is designed to <b>empower you and fit your current workflow</b>. We don't want to force you to change your habits, but to make it easier to use.</p>
    </div>
</section>