---
import { } from "lucide-svelte";
---

<div
    class="flex flex-col lg:grid grid-cols-1 lg:grid-cols-6 grid-rows-4 gap-4 !mt-40"
>
    <div
        class="card bg-gradient-to-bl rounded-[1.5rem] from-neutral-900 to-indigo-500/20 relative border-gradient col-span-1 lg:col-span-2 row-span-1 lg:row-span-2 !mt-0 shadow-lg transition-shadow intersect:motion-preset-slide-up"
    >
        <div class="card-body">
            <h2 class="card-title !text-2xl">Grinta is always with you.</h2>
            <p class="!m-0">
                All your favorite applications and shortcuts in one place.
                Easily <span class="text-secondary"
                    >switch between search and note-taking modes</span
                >.
            </p>
            <div class="flex items-center justify-between">
                <div class="flex gap-1 items-center">
                    <kbd class="kbd kbd-lg !m-0 text-secondary rounded-[1rem]">
                        <CommandIcon />
                    </kbd>
                    <kbd class="kbd kbd-lg !m-0 text-secondary rounded-[1rem]"
                        >Space</kbd
                    >
                </div>
            </div>
        </div>
    </div>
    <div
        class="card bg-neutral-900 rounded-[1.5rem] relative border-gradient col-span-1 lg:col-span-2 col-start-auto lg:col-start-3 !mt-0 shadow-lg transition-shadow intersect:motion-preset-slide-up"
    >
        <div class="card-body">
            <h2 class="card-title !text-2xl">Zero Telemetry</h2>
            <p class="!m-0">
                We respect your privacy and <span class="text-secondary"
                    >collect zero user related data</span
                >.
            </p>
        </div>
    </div>
    <div
        class="card blueprint border-gradient-special col-span-1 lg:col-span-2 col-start-auto lg:col-start-3 row-start-auto lg:row-start-2 !mt-0 shadow-lg transition-shadow intersect:motion-preset-slide-up"
    >
        <div class="card-body">
            <h2 class="card-title !text-2xl">Open Source</h2>
            <p class="!m-0">
                The source code of the app is open. <span class="text-secondary"
                    >We have nothing to hide</span
                >.
            </p>
        </div>
    </div>
    <div
        class="card bg-gradient-to-br rounded-[1.5rem] from-neutral-900 via-neutral-900 to-indigo-500/20 relative border-gradient-special col-span-1 lg:col-span-2 row-span-1 lg:row-span-3 col-start-1 lg:col-start-5 row-start-auto lg:row-start-1 !mt-0 shadow-lg transition-shadow intersect:motion-preset-slide-up"
    >
        <div class="card-body">
            <h2 class="card-title !text-2xl">Intelligence Inside</h2>
            <p class="!m-0">
                Grinta is packed with natural language processing and AI. We
                want the app to fully understand you with natural language and <span
                    class="text-secondary"
                    >give you the best results based on that</span
                >.
            </p>
            <div
                class="flex input input-bordered input-lg items-center gap-4 rounded-[1rem]"
            >
                <SparklesIcon class="!m-0 text-secondary" size={40} />
                <p class="!m-0 !text-sm lg:!text-xl font-semibold">
                    Lasagna recipe
                </p>
            </div>
        </div>
    </div>
    <div
        class="card border-gradient rounded-[1.5rem] bg-lines border-gradient-reverse col-span-1 lg:col-span-4 row-span-1 lg:row-span-2 row-start-auto lg:row-start-3 !mt-0 relative shadow-lg transition-shadow intersect:motion-preset-slide-up"
    >
        <div class="card-body">
            <h2 class="card-title !text-2xl">
                Extend functionality with Shortcuts.
            </h2>
            <p class="!m-0">
                You don't have to code to extend the possibilities of Grinta. <span
                    class="text-secondary"
                    >We've integrated the application with Shortcuts</span
                >, so you can easily use all your existing shortcuts from within
                the application.
            </p>
            <div
                class="flex input input-bordered input-lg items-center gap-4 rounded-[1rem]"
            >
                <Layers2Icon class="!m-0 text-secondary" size={40} />
                <p class="!m-0 !text-sm lg:!text-xl font-semibold">
                    Play the workout playlist
                </p>
            </div>
        </div>
    </div>
    <div
        class="card bg-neutral-900 relative rounded-[1.5rem] border-gradient border-gradient-reverse col-span-1 lg:col-span-2 col-start-auto lg:col-start-5 row-start-auto lg:row-start-4 !mt-0 shadow-lg transition-shadow intersect:motion-preset-slide-up"
    >
        <div class="card-body">
            <h2 class="card-title !text-2xl">Free of charge</h2>
            <p class="!m-0">
                The basic application with essential features will always be
                free.
            </p>
        </div>
    </div>
</div>
