---
// eslint-disable
import TinyThemeSwitch from "./tiny-theme-switch.svelte";
const year = new Date().getFullYear();
---

<footer
    class="container p-4 xl:p-0 max-w-[80rem] mx-auto mt-32 mb-16 grid grid-cols-1 lg:grid-cols-4 gap-8"
>
    <div class="flex flex-col col-span-1 lg:col-span-2 gap-2">
        <img src="/logo.svg" width={128} alt="Grinta Logo" class="!mb-4 invert-100 dark:invert-0" />
        <p>© {year} Grinta. All rights reserved.</p>
        <p>Made in 🇪🇺 Europe</p>
        <div class="flex gap-2 items-center">
            <TinyThemeSwitch client:only />
            <div class="rounded-full h-7 overflow-hidden border border-base-300">
                <a class="github-button" href="https://github.com/getgrinta/grinta" data-color-scheme="no-preference: dark; light: dark; dark: light;" data-size="large" data-show-count="true" aria-label="Star getgrinta/grinta on GitHub">Star</a>
            </div>
            <a class="btn btn-sm" href="https://grinta.userjot.com/" target="_blank" rel="noopener noreferrer">Submit feedback</a>
        </div>
    </div>
    <div class="flex flex-col">
        <h3 class="text-xl font-semibold mb-4">Product</h3>
        <ul class="space-y-2">
            <li>
                <a
                    href="/guides"
                    >Docs</a
                >
            </li>
            <li>
                <a
                    href="https://grinta.userjot.com/updates"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Updates</a
                >
            </li>
            <li>
                <a
                    href="/privacy-policy"
                    >Privacy Policy</a
                >
            </li>
            <li>
                <a
                    href="/terms-of-service"
                    >Terms of Service</a
                >
            </li>
        </ul>
    </div>
    <div class="flex flex-col">
        <h3 class="text-xl font-semibold mb-4">Connect</h3>
        <ul class="space-y-2">
            <li>
                <a
                    href="https://grnt.me/github"
                    target="_blank"
                    rel="noopener noreferrer"
                    >GitHub</a
                >
            </li>
            <li>
                <a
                    href="https://grnt.me/x"
                    target="_blank"
                    rel="noopener noreferrer"
                    >X / Twitter</a
                >
            </li>
            <li>
                <a
                    href="mailto:team@getgrinta.com"
                    >Contact</a
                >
            </li>
            <li>
                <a
                    href="https://grnt.me/status"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Status</a
                >
            </li>
        </ul>
    </div>
</footer>
