---
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const year = new Date().getFullYear();
---

<footer
    class="flex flex-col lg:grid lg:grid-cols-4 gap-8 !mt-40 !pt-12 !pb-8 border-t border-zinc-800"
>
    <div class="flex flex-col col-span-1 lg:col-span-1">
        <img src="/logo.svg" width={128} alt="Grinta Logo" class="!mb-4" />
        <p class="text-lg font-semibold">Spotlight redefined.</p>
        <p class="text-gray-400">© {year} Grinta. All rights reserved.</p>
        <p class="text-gray-400">Made in 🇪🇺 Europe</p>
    </div>

    <div
        class="flex flex-col items-start justify-between sm:flex-row sm:flex-wrap gap-8 sm:gap-x-16 lg:gap-8 col-span-3 pr-32"
    >
        <div class="flex flex-col !m-0">
            <h3 class="!text-xl font-semibold !mb-4">Product</h3>
            <ul class="space-y-2 !m-0 pl-4">
                <li>
                    <a
                        href="/guides"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Docs</a
                    >
                </li>
                <li>
                    <a
                        href="/blog"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Changelog</a
                    >
                </li>
                <li>
                    <a
                        href="/privacy-policy"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Privacy Policy</a
                    >
                </li>
                <li>
                    <a
                        href="/terms-of-service"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Terms of Service</a
                    >
                </li>
            </ul>
        </div>

        <div class="flex flex-col !m-0">
            <h3 class="!text-xl font-semibold !mb-4">Features</h3>
            <ul class="space-y-2 !m-0 pl-4">
                <li>
                    <a
                        href="/features/search"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Search</a
                    >
                </li>
                <li>
                    <a
                        href="/features/nlp"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Natural Language</a
                    >
                </li>
                <li>
                    <a
                        href="/features/shortcuts"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Shortcuts</a
                    >
                </li>
                <li>
                    <a
                        href="/features/calculator"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Calculator</a
                    >
                </li>
            </ul>
        </div>

        <div class="flex flex-col !m-0">
            <h3 class="!text-xl font-semibold !mb-4">Connect</h3>
            <ul class="space-y-2 !m-0 pl-4">
                <li>
                    <a
                        href="https://github.com/getgrinta/grinta"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-gray-400 hover:text-white transition-colors"
                        >GitHub</a
                    >
                </li>
                <li>
                    <a
                        href="https://x.com/getgrinta"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-gray-400 hover:text-white transition-colors"
                        >X / Twitter</a
                    >
                </li>
                <li>
                    <a
                        href="mailto:team@getgrinta.com"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Contact</a
                    >
                </li>
                <li>
                    <a
                        href="https://status.getgrinta.com/status/grinta"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-gray-400 hover:text-white transition-colors"
                        >Status</a
                    >
                </li>
            </ul>
        </div>
    </div>
</footer>
