<section
    class="flex flex-col lg:grid grid-cols-2 bg-neutral-900 rounded-[1.5rem] !mt-40 relative border-gradient intersect:motion-preset-slide-up"
>
    <div
        class="flex flex-1 flex-col justify-center items-start !m-0 px-4 lg:px-16 py-8 lg:py-24"
    >
        <div class="flex gap-2">
            <h2>Grinta Pro</h2>
        </div>
        <p>
            For your convenience, we've prepared a turbo-charged version of
            Grinta with extra features such as:
        </p>
        <ul>
            <li>
                <span class="text-secondary">Zero config, fast AI</span>,
                out-of-box.
            </li>
            <li>
                <span class="text-secondary">Note writing AI based copilot</span
                > that will autocomplete your thoughts as you write.
            </li>
            <li>
                <span class="text-secondary">GrintaFi (coming soon)</span> - AI based
                stock and crypto data quick access.
            </li>
        </ul>
    </div>
    <div class="hidden lg:flex grinta-pro flex-1 !m-0"></div>
</section>
