<section class="flex flex-col rounded-[1.5rem] relative !mt-40">
    <img
        src="/grinta.jpg"
        class="absolute rounded-[1.5rem] !m-0 inset-0 top-4 blur-[3rem] opacity-40 z-0"
    />
    <img
        src="/grinta.jpg"
        class="rounded-[1.5rem] w-full z-10 pointer-events-none !m-0"
    />
</section>
