<section
    class="mt-24 rounded-[2rem] px-4 xl:px-0"
>
    <div class="container max-w-[80rem] mx-auto border-2 border-blue-500 bg-blue-500 rounded-[2rem]">
        <img src="/apps.jpg" class="rounded-[2rem]" />
    </div>
</section>
