<section class="flex flex-col gap-4 justify-center items-center !mt-32">
    <h1
        class="!text-4xl lg:!text-7xl !leading-[3rem] lg:!leading-[6rem] text-center max-w-[44rem] !font-semibold"
    >
        Everything you need, in <span
            class="bg-gradient-to-r from-blue-500 to-indigo-400 inline-block text-transparent bg-clip-text"
            >one shortcut</span
        >.
    </h1>
    <p class="text-2xl text-center">
        A next generation of MacOS search bar packed with AI and notes.
    </p>
    <div class="flex gap-4 items-center justify-center">
        <button
            type="button"
            class="btn lg:btn-lg !bg-neutral-800 border-2 !text-white rounded-full hover:border-primary shadow-2xl hover:shadow-primary/40"
            disabled
        >
            <img
                src="/mac.svg"
                width={40}
                height={40}
                class="text-white"
                alt="Mac Icon"
            />
            <span>Download for Mac</span>
        </button>
        <a
            href="/guides"
            class="btn lg:btn-lg btn-secondary bg-white !text-black rounded-full border-2 border-white hover:bg-primary hover:border-primary hover:!text-white shadow-2xl hover:shadow-primary/40"
            >Read Docs</a
        >
    </div>
</section>
