---
// eslint-disable
import AccountButton from "./account-button.svelte";
---

<nav class="flex items-center justify-between py-2 px-4 bg-base-100/75 backdrop-blur-lg border border-base-300 fixed top-0 left-0 right-0 z-20 mx-auto max-w-screen xl:max-w-[32rem] mt-0 xl:mt-2 rounded-none xl:rounded-[2rem]">
    <div class="flex flex-1 items-center justify-between">
        <a href="/" class="flex items-center">
            <img src="/logo.svg" width={96} alt="Grinta Logo" class="invert-100 dark:invert-0 hidden lg:flex" />
            <img src="/logo_sm.svg" width={28} alt="Grinta Logo" class="invert-0 dark:invert-100 flex lg:hidden" />
        </a>
        <div class="flex gap-1 items-center">
            <a href="/guides" class="btn btn-ghost rounded-full">Learn</a>
            <a href="https://grnt.me/x" target="_blank" rel="noopener noreferrer" class="btn btn-ghost btn-square rounded-full text-xl">ğ•</a>
            <AccountButton client:only userId={Astro.locals.user?.id} />
        </div>
    </div>
</nav>
